{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<ul></ul>

  <ul></ul>
<section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'assets/img/about.jpg' %}" alt="">
              <ul>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3> Economy hotels are small to medium-sized hotel establishments that offer basic accommodations with little to no services.</h3>
            <p class="fst-italic">
              International luxury hotels offer high-quality amenities, full-service accommodations, on-site full-service restaurants, and the highest level of personalized and professional service in major or capital cities
            </p>
            <ul></ul>
              <li><i class="bi bi-check-circle"></i> Hotel operations vary in size, function, complexity, and cost. Most hotels and major hospitality companies have set industry standards to classify hotel types</li>
              <li><i class="bi bi-check-circle"></i> An upscale full-service hotel facility offers luxury amenities, full-service accommodations, an on-site restaurant, and the highest level of personalized service, such as a concierge, room service, and clothes pressing staff.</li>
              <li><i class="bi bi-check-circle"></i>Full-service hotels often contain upscale full-service facilities with many full-service accommodations, an on-site full-service restaurant, and a variety of on-site amenities. Boutique hotels are smaller independent, non-branded hotels that often contain upscale facilities.</li>
            </ul>

            <p>
              The precursor to the modern hotel was the inn of medieval Europe. For a period of about 200 years from the mid-17th century, coaching inns served as a place for lodging for coach travelers. Inns began to cater to richer clients in the mid-18th century. One of the first hotels in a modern sense was opened in Exeter in 1768. Hotels proliferated throughout Indian in the early 19th century, and luxury hotels began to spring up in the later part of the 19th century.
            </p>
          </div>
        </div>

      </div>


       <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
      {% endblock %}