{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Organize Your Events in our Restaurant</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="https://www.dimahal.com/img/innerpage/birthday.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Birthday Parties</h3>
                  <div class="price">
                    <p><span>₹1000</span></p>
                  </div>
                  <p class="fst-italic">
                    For all birthdays of your near and dear ones just simply book a party hall with us and enjoy the taste of life.
                  </p>
                 
                  <p>
                   Celebrate your birthday party with our signature luxury and give a touch of happiness to it. We make all your small function as a big success and a huge celebration as a little task. DI Mahal creates a pleasant atmosphere by scheming your function in such a quality that it strengthens the beauty of the birthday event & making it the most unforgettable day.
                </div>
              </div>
            </div><!-- End testimonial item -->




           <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="https://media.weddingz.in/images/99a798c3ac625f3e826024a76419aa07/food-village-banquet-hall-and-lawn-injambakkam-chennai-2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Function Hall</h3>
                  <div class="price">
                    <p><span>₹50000</span></p>
                  </div>
                  <p class="fst-italic">
                    Weddings in India vary according to the region, the religion, the community and the personal preferences of the bride and groom. They are festive occasions in India, and in most cases celebrated with extensive decorations, colour, dresses, music, dance, costumes and rituals that depend on the community, region and religion of the bride and the groom, as well as their preferences
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> Typical Hindu families spend significant effort and financial resources to prepare and celebrate weddings. The rituals and process of a Hindu wedding vary depending on region of India, local adaptations, resources of the family and preferences of the bride and the groom.</li>
                    <li><i class="bi bi-check-circled"></i>Indian Muslims celebrate a traditional Islamic wedding, with rituals include Nikah, payment of financial dower called Mahr by the groom to the bride, signing of marriage contract, and a reception</li>
                    <li><i class="bi bi-check-circled"></i> ndian Christian weddings followings traditional Christian marriage customs. Among Protestants in India, the betrothal rite celebrates the engagement of a couple, with prayers being offered for a couple and engagement rings being blessed by a pastor</li>
                  </ul>
                 
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="https://www.stylerug.net/wp-content/uploads/2019/03/ben-konfrst-1139787-unsplash-e1551408204198.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Business Parties</h3>
                  <div class="price">
                    <p><span>₹25000</span></p>
                  </div>
                Lot of Spaces to celebrate the parties
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->


  </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>


<ul>

<ul>
 <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</ul>
</ul>

      {% endblock %}